.app-container {
  display: flex;
  align-items: center;
  flex-direction:   column;
} 
 .register--container {
  padding: 0px;
  border-radius: 3px solid rgb(255, 4, 4);
  width: max-content;
  height: max-content;
  align-items: center;
 }
.register--title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto;

}
.register--button {
  padding: 2px 5px;
}
.register--input {
  display: block;
}
